<ion-header>
  <ion-toolbar>
    <ion-title>NovoFilmeModal</ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-button href="/home">Voltar</ion-button>
  </ion-buttons>
</ion-header>

<ion-content>
    <ion-list>

      <ion-item>
        <ion-label>Nome:</ion-label>
        <ion-input [(ngModel)]="novo_filme.nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Autor:</ion-label>
        <ion-input [(ngModel)]="novo_filme.autor"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Data de lançamento:</ion-label>
        <ion-input [(ngModel)]="novo_filme.dt_lanc"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Duração:</ion-label>
        <ion-input [(ngModel)]="novo_filme.duracao"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>categoria:</ion-label>
        <ion-input [(ngModel)]="novo_filme.categoria"></ion-input>
      </ion-item>


      <ion-button expand="full" (click)="add()">Enviar</ion-button>

    </ion-list>
</ion-content>